<!DOCTYPE html>
<html lang="en">

<head>
     <title>Product Detail: Page 3</title>
   <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body>
    <script src='{{ url_for("static", filename="js/submitLink.js")}}'></script>
    <script src='{{ url_for("static", filename="js/main.js")}}'></script>
<a href="page3">{{pesan}}</a>

<div>
    <h3 class="text-muted"> Product Detail</h3>
</div>
</body>
</html>
